<div class="container">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 left-side-home-outer">
      <p *ngIf="loadedTimelogs.length == 0 && !isTimelogsFetching">No timelogs available!</p>
      <ul class="list-group" *ngIf="loadedTimelogs.length > 0 && !isTimelogsFetching">
        <li class="list-group-item" *ngFor="let timelog of loadedTimelogs">
          <h4 class="list-group-item-heading">Email: {{ timelog.userEmail }}</h4>
          <p class="list-group-item-text">Name: {{ timelog.userFirstName }} {{ timelog.userLastName }}</p>
          <p class="list-group-item-text">Project name: {{ timelog.projectName }}</p>
          <p class="list-group-item-text">Date: {{ timelog.date.split('T')[0] }}</p>
          <p class="list-group-item-text">Worked hours: {{ timelog.hours }}</p>
          <button class="btn btn-primary" (click)="onCompareUsers(timelog.userEmail, timelogParamsForm.value)">Compare</button>
        </li>
      </ul>
    </div>

    <div class="col-md-6 left-right-home-outer">
      <button class="btn btn-primary" (click)="onRegenerateUsers()">Regenerate Data</button>
      <hr />
      <form #timelogParamsForm="ngForm" (click)="onFetchFilter(timelogParamsForm.value)">
        <div class="form-group">
          <label for="fromDate">Date From</label>
          <input type="date" class="form-control" id="fromDate" ngModel name="fromDate" #fromDateInput />
        </div>
        <div class="form-group">
          <label for="toDate">Date To</label>
          <input type="date" class="form-control" id="toDate" ngModel name="toDate" #toDateInput />
        </div>
        <div class="form-group">
          <label for="sortBy">Sort By</label>
          <select type="text" id="sortBy" class="form-control" ngModel name="sortBy" #sortByInput>
            <option>date</option>
            <option>project</option>
            <option>hours</option>
          </select>
        </div>
        <div class="form-group">
          <label for="isAscending">In Ascending Order</label>
          <input type="checkbox" class="form-control" data-toggle="switch" id="isAscending" ngModel name="isAscending"
            #isAscendingInput />
        </div>
        <div class="form-group">
          <label for="pageNumber">Page Number</label>
          <input type="number" class="form-control" id="pageNumber" ngModel name="pageNumber" #pageNumberInput />
        </div>
        <div class="form-group">
          <label for="pageSize">Page Size</label>
          <input type="number" class="form-control" id="pageSize" ngModel name="pageSize" #pageSizeInput />
        </div>
        <button class="btn btn-primary" type="submit">
          Search
        </button>
      </form>
      <p *ngIf="loadedTimelogs.length == 0 && !isUsersFetching">No users available!</p>
      <ngx-charts-bar-vertical
        [view]="[600,400]"
        [results]="chartData"
        [xAxisLabel]="'Users'"
        [legendTitle]="'Worked Hours Chart'"
        [yAxisLabel]="'Worked Hours'"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [gradient]="true">
      </ngx-charts-bar-vertical>
    </div>
  </div>
</div>